:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-light: #F9F9F9;
  --color-gray: #DDDDDD;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week], textarea {
  border: none;
  background: transparent;
  width: auto;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "AkkuratMono-Regular";
  src: url("/fonts/AkkuratMono-Regular.woff") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.body {
  font-family: "AkkuratMono-Regular", "monospace";
  color: var(--color-black);
}
.body-xl {
  font-size: 1.5rem;
  line-height: 1;
}
@media screen and (min-width: 1008px) {
  .body-xl {
    font-size: 2.2916666667vw;
  }
}
.body-sm {
  font-size: 0.6875rem;
  line-height: 1.1;
}
@media screen and (min-width: 1008px) {
  .body-sm {
    font-size: 0.7638888889vw;
  }
}
.body-lo {
  text-transform: lowercase;
}
.body-up {
  text-transform: uppercase;
}

/* Mobile */
@media screen and (max-width: 640px) {
  .only\:sm {
    display: flex;
  }
}
@media screen and (min-width: 641px) {
  .only\:sm {
    display: none;
  }
}

/* Pocket: Tablet and mobile */
@media screen and (max-width: 1007px) {
  .only\:md {
    display: flex;
  }
}
@media screen and (min-width: 1008px) {
  .only\:md {
    display: none;
  }
}

/* Tablet and up */
@media screen and (max-width: 640px) {
  .only\:lg {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  .only\:lg {
    display: flex;
  }
}

/* Laptop and up */
@media screen and (max-width: 1007px) {
  .only\:xl {
    display: none;
  }
}
@media screen and (min-width: 1008px) {
  .only\:xl {
    display: flex;
  }
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
}
#main .section {
  padding-inline: 1.25rem;
}
#main .section__heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 1008px) {
  #main .section__heading {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  #main .section__heading__contributor {
    grid-column: span 4;
  }
}
#main .section__content__description {
  display: flex;
}
@media screen and (min-width: 1008px) {
  #main .section__content__description {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #main .section__content__description p {
    grid-column: 5/span 8;
  }
}
#main .section__content__medias {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.125rem;
}
@media screen and (min-width: 1008px) {
  #main .section__content__medias {
    grid-template-columns: repeat(12, 1fr);
  }
}
#main .section__content__medias .media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  grid-column: span 1;
}
#main .section__content__medias .media.media--portrait {
  aspect-ratio: 0.75;
}
#main .section__content__medias .media.media--landscape {
  grid-column: span 2;
}

.main-teasing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 640px) {
  .main-teasing {
    align-items: start;
    justify-content: start;
    height: 100dvh;
  }
}
.main-teasing .wrapper {
  width: 50%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  .main-teasing .wrapper {
    width: 100%;
    padding: 10%;
    align-items: start;
    justify-content: start;
  }
}
.main-teasing .wrapper h1 {
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 640px) {
  .main-teasing .wrapper h1 {
    margin-bottom: 0.9375rem;
  }
}
.main-teasing .wrapper p {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .main-teasing .wrapper p {
    text-align: left;
  }
}
.main-teasing .wrapper .links {
  margin-top: 6.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.main-teasing .wrapper .links a span {
  position: relative;
}
.main-teasing .wrapper .links a span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -1px;
  background: black;
}

.header {
  padding: 0.75rem 1.25rem;
}

/*# sourceMappingURL=main.css.map */
