@use 'mixins' as *;

@font-face {
  font-family: 'AkkuratMono-Regular';
  src: url('/fonts/AkkuratMono-Regular.woff') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.body {
  font-family: 'AkkuratMono-Regular', 'monospace';
  color: var(--color-black);

  &-xl{
    font-size: rem(24px);
    line-height: 1;

    @include device(laptop-and-up){
      font-size: vw(33px);
    }
  }

  &-sm{
    font-size: rem(12px);
    line-height: 1.25;

    @include device(laptop-and-up){
      font-size: vw(10px);
    }
  }

  &-lo{
    text-transform: lowercase;
  }

  &-up{
    text-transform: uppercase;
  }
}